[alias]
	plog = log --color --graph --decorate --oneline --all
	pushf = push --force-with-lease
[core]
	autocrlf = true
	editor = vim
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
[help]
	autocorrect = 1
